h1 {text-align:center;
color:white;
border:2px solid red;
background-color:black;
}
body li {list-style:none;
border:2px solid red;
width:200px;
margin-bottom:2px;
background-color:black;
color:white;
text-align:center;
}


p.shit{font-style:bold;
background-color:black;
color:white;
border:2px solid red;
text-align:center;
}

h2#LOL{text-align:center;
border:2px solid red;
color:white;
background-color:black;}

footer > a {text-align:right;
color:white;
background-color:black;
border:2px solid red;
margin:720px;}
